.custom-border {
    text-decoration: none;
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    width: 100% !important;
  }
  
  .custom-border::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1b1b1b;
    transition: width 0.3s ease-out;
  }
  
  .custom-border:hover::after {
    width: 60%;
    transition-delay: 0.1s;
  }